<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wall-1f-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 36}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-1f-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 18}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-1f-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 52}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-1f-s0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 54}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-2f-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-2f-s0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 16}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{20, 16}</string>
			<key>spriteSourceSize</key>
			<string>{32, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 0}, {20, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>wall-2f-s1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 16}</string>
			<key>spriteSourceSize</key>
			<string>{32, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 34}, {32, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 128}</string>
		<key>name</key>
		<string>wall</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wall</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wall</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
